In [1]:
# 51
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 
# 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

# 순위	영화
# 1	닥터 스트레인지
# 2	스플릿
# 3	럭키

movie_rank = ['dr.strange', 'split', 'lucky']
movie_rank

['dr.strange', 'split', 'lucky']

In [2]:
# 52
# 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank.append('batmen')
movie_rank

['dr.strange', 'split', 'lucky', 'batmen']

## a.insert(index, x)
- 리스트 a의 index 에 x 값을 넣겠다.

In [3]:
# 53
# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.
# "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
# movie_rank = ['dr.strange', 'split', 'lucky', 'batmen']

movie_rank = ['dr.strange', 'split', 'lucky', 'batmen']
movie_rank.insert(1, 'superman')
movie_rank

['dr.strange', 'superman', 'split', 'lucky', 'batmen']

## a.remove(x) , del a[index]
- remove 는 인자 하나만 받을 수 있음.
- del 은 a의 index를 지정해서 삭제 가능.

In [4]:
# 54
# movie_rank 리스트에서 '럭키'를 삭제하라.
movie_rank = ['dr.strange', 'superman', 'split', 'lucky', 'batmen']

movie_rank.remove('lucky')
movie_rank

del movie_rank[3]
movie_rank

['dr.strange', 'superman', 'split']

In [5]:
# 55
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
movie_rank = ['dr.strange', 'superman', 'split', 'lucky', 'batmen']

movie_rank.remove('split')
del movie_rank[3]
print(movie_rank)

['dr.strange', 'superman', 'lucky']

## iterable 가능한 요소들은 + 로 붙일 수 있음. 
- 'abc' + 'def' => 'abcdef'
- ['a', 'b', 'c'] + ['d', 'e', 'f'] => ['a', 'b', 'c', 'd', 'e', 'f']

In [6]:
# 56
# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [7]:
# 57
# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
# nums = [1, 2, 3, 4, 5, 6, 7]
# 실행 예:
# max:  7
# min:  1

nums = [1, 2, 3, 4, 5, 6, 7]
print(f'max: {max(nums)}\nmin: {min(nums)}')

max: 7
min: 1

In [8]:
# 58
# 다음 리스트의 합을 출력하라.

# nums = [1, 2, 3, 4, 5]
# 실행 예:
# 15

nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [9]:
# 059
# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [10]:
# 060
# 다음 리스트의 평균을 출력하라.
# nums = [1, 2, 3, 4, 5]
# 실행 예:
# 3.0

nums = [1, 2, 3, 4, 5]
sum(nums) / len(nums)

3.0

In [11]:
# 061
# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라.
# (힌트 : 슬라이싱)

# price = ['20180728', 100, 130, 140, 150, 160, 170]
# 출력 예시:
# [100, 130, 140, 150, 160, 170]

price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [12]:
# 062
# 슬라이싱을 사용해서 홀수만 출력하라.

# nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 실행 예:
# [1, 3, 5, 7, 9]

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [13]:
# 063
# 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [14]:
# 064
# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

# nums = [1, 2, 3, 4, 5]
# 실행 예:
# [5, 4, 3, 2, 1]

nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [15]:
# 065
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['samsung', 'LG', 'Naver']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# samsung Naver

interest = ['samsung', 'LG', 'Naver']
print(interest[::2])
print(interest[0], interest[2])

['samsung', 'Naver']
samsung Naver

In [16]:
# 066 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['samsung', 'LG', 'Naver', 'SK', 'mirae_asset']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# samsung LG Naver SK mirae_asset

interest = ['samsung', 'LG', 'Naver', 'SK', 'mirae_asset']
' '.join(interest)

'samsung LG Naver SK mirae_asset'

In [17]:
# 067 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['samsung', 'LG', 'Naver', 'SK', 'mirae_asset']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# samsung/LG/Naver/SK/mirae_asset

interest = ['samsung', 'LG', 'Naver', 'SK', 'mirae_asset']
'/'.join(interest)

'samsung/LG/Naver/SK/mirae_asset'

## ''join(리스트인 변수)
- '\n'.join(interest) => 'samsung\nLG\nNaver\nSK\nmirae_asset'
- print('\n'.join(interest)) 
=> samsung
LG
Naver
SK
mirae_asset

In [18]:
# # 68
# join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# samsung
# LG
# Naver
# SK
# mirae_asset

interest = ['samsung', 'LG', 'Naver', 'SK', 'mirae_asset']
print('\n'.join(interest))

samsung
LG
Naver
SK
mirae_asset

In [19]:
# 069 문자열 split 메서드
# 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

# string = "samsung/LG/Naver"
# 이를 interest 이름의 리스트로 분리 저장하라.

# 실행 예시
# >> print(interest)
# ['samsung', 'LG', 'Naver']

string = "samsung/LG/Naver"
interest = string.split('/')
print(interest)

['samsung', 'LG', 'Naver']

## 리스트.sort()  vs  sorted(리스트)
- data.sort( ) => return 값 없음. 원본 변경
- sorted(data) => return 값 있음. 원본 미변경

In [20]:
# 070 리스트 정렬
# 리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

data = [2, 4, 3, 1, 5, 10, 9]
new_data = sorted(data)
print(new_data)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]