## 데이터 언팩킹 '*'
기본적으로 `데이터 언패킹`은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 `star expression`을 사용하면 `변수의 개수가 달라도 데이터 언패킹`을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

> a, b, *c = (0, 1, 2, 3, 4, 5)
>
> a => 0
>
> b => 1
>
> c => [2, 3, 4, 5]

In [1]:
# 81
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*a, b, c = scores
valid_scores = a
valid_scores

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [2]:
# 81 -1

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_scores, _, _ = scores
print(valid_scores)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [3]:
# 082
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_scores = scores
valid_scores

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [4]:
# 083
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_scores, _ = scores
valid_scores

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [5]:
# 084 비어있는 딕셔너리
# temp 이름의 비어있는 딕셔너리를 만들라.

temp = {}

In [6]:
# 085
# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

# 이름	희망 가격
# 메로나	1000
# 폴라포	1200
# 빵빠레	1800

icecream = {'melona' : 1000, 'polapo' : 1200, 'pangpare' : 1800}
print(icecream)

{'melona': 1000, 'polapo': 1200, 'pangpare': 1800}

In [7]:
# 086
# 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

# 이름	희망 가격
# 죠스바	1200
# 월드콘	1500

icecream['jaws'] = 1200
icecream['world'] = 1500
icecream

{'melona': 1000, 'polapo': 1200, 'pangpare': 1800, 'jaws': 1200, 'world': 1500}

## dictionary f-string 
- print(f ' melona price: {icecream['melona'] } ' )  => ' ] } ' 오류
- print(f " melona price: {icecream['melona'] } " )  => f-string " 으로 변경

In [8]:
# 087
# 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.
# 실행 예:
# 메로나 가격: 1000

print(f"melona price: {icecream['melona']}")
print('melona price:', icecream['melona'] )

melona price: 1000
melona price: 1000

In [9]:
# 088
# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

icecream['melona'] = 1300
icecream

{'melona': 1300, 'polapo': 1200, 'pangpare': 1800, 'jaws': 1200, 'world': 1500}

## dictionary 삭제
- dictionary 삭제 방법 (mutable) => `dict.pop(key) // del dict[key]`
- list 삭제 방법 (mutable) => `list.remove(요소) // del list(요소)`
- string 삭제 방법 (immutable) => `string.replace(없앨 요소, 바꿀 요소)`

   => immutable. 한번 생성되면 수정할 수 없다는 뜻.

In [10]:
a = 'abc'
d = a.replace('b', '')
d

'ac'

In [11]:
# 089
# 다음 딕셔너리에서 메로나를 삭제하라.
icecream = {'melona': 1000, 'polapo': 1200, 'pangpare': 1800, 'jaws': 1200, 'world': 1500}
icecream.pop('melona')
icecream

# 혹은 del icecream['melona']

{'polapo': 1200, 'pangpare': 1800, 'jaws': 1200, 'world': 1500}

In [12]:
# 090
# 다음 코드에서 에러가 발생한 원인을 설명하라.

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

In [ ]:
# 091 딕셔너리 생성
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 
# 딕셔너리의 이름은 inventory로 한다.

# 이름	가격	재고
# 메로나	300	20
# 비비빅	400	3
# 죠스바	250	100

inventory = {'melona' : [300, 20] , 
             'bibibig' : [400, 3] , 
             'jaws' : [250, 100]}
print(inventory.values())
v1, v2, v3 = inventory.values()
tuple(v1)

In [ ]:
# 092 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.
# 실행 예시:
# 300 원

print(inventory['melona'][0], '원', sep='/')

In [13]:
# 093 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

print(inventory['melona'][1], '개')

NameError: name 'inventory' is not defined

In [14]:
# 094 딕셔너리 추가
# inventory 딕셔너리에 아래 데이터를 추가하라.
# 이름	가격	재고
# 월드콘	500	7

inventory['world'] = [500, 7]
inventory

NameError: name 'inventory' is not defined

In [15]:
# 095 딕셔너리 keys() 메서드
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'tank': 1200, 'polapo': 1200, 'pangparae': 1800, 'world': 1500, 'melona': 1000}

icecream.keys()

dict_keys(['tank', 'polapo', 'pangparae', 'world', 'melona'])

In [16]:
# 096 딕셔너리 values() 메서드
# 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

icecream = {'tank': 1200, 'polapo': 1200, 'pangparae': 1800, 'world': 1500, 'melona': 1000}

icecream.values()

dict_values([1200, 1200, 1800, 1500, 1000])

In [17]:
# 097 딕셔너리 values() 메서드
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.
# 출력 예시:
# 6700

icecream = {'tank': 1200, 'polapo': 1200, 'pangparae': 1800, 'world': 1500, 'melona': 1000}
sum(icecream.values())

6700

## 딕셔너리 형태로 업데이트 가능. 
dictionary.update(new_dictionary)

In [18]:
# 098 딕셔너리 update 메서드
# 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

# icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# new_product = {'팥빙수':2700, '아맛나':1000}

icecream = {'tank': 1200, 'polapo': 1200, 'pangparae': 1800, 'world': 1500, 'melona': 1000}
new_product = {'bingsu' : 2700, 'matna' : 1000}

icecream.update(new_product)
icecream

{'tank': 1200,
 'polapo': 1200,
 'pangparae': 1800,
 'world': 1500,
 'melona': 1000,
 'bingsu': 2700,
 'matna': 1000}

## dict(zip(key, value)) 
=> 따로 떨어져 있던 것들을 딕셔너리 형태로 묶기 가능. 
- list(zip(key, val))  => [(key,val), (key,val) ... ] => tuple 형태로 묶여서 리스트 처리 됨.

In [19]:
# 099 zip과 dict
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. 
# keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

# 실행 예시:
# print(result)
# {'apple': 300, 'pear': 250, 'peach': 400}

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

print(list(zip(keys, vals)))
result = dict(zip(keys, vals))
result

[('apple', 300), ('pear', 250), ('peach', 400)]

{'apple': 300, 'pear': 250, 'peach': 400}

In [20]:
# 100 zip과 dict
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

# 실행 예시:
# >> print(close_table)
# {'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}