In [1]:
# 071
# my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()
print(my_variable, type(my_variable))

() <class 'tuple'>

In [2]:
# 072
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 
# 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

# 순위	영화
# 1	Dr.Strange
# 2	Split
# 3	Lucky

movie_rank = ('Dr.Strange', 'Split', 'Lucky')
movie_rank

('Dr.Strange', 'Split', 'Lucky')

## tuple 에 원소 하나만 넣으면 type : 튜플이 안됨. 
- list는 a[0] = 6 이런식으로 원소 값 변경 가능
- string 원소 변경 안됨.
- tuple 도 원소 변경 안됨.
#### 
- 'a', 'b' -> ('a', 'b') => tuple 로 나옴
- print('a', 'b') => a b

In [3]:
# 073
# 숫자 1 이 저장된 튜플을 생성하라.

my_tuple = (1, )
print(my_tuple, type(my_tuple))

(1,) <class 'tuple'>

In [4]:
# 074
# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1, 2, 3)
t[0] = 'a'

Traceback (most recent call last):
File "<pyshell#46>", line 1, in <module>
t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1390108484.py, line 7)

In [5]:
# 075
# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4
type(t)

tuple

In [6]:
# 076
# 변수 t에는 아래와 같은 값이 저장되어 있다. 
# 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
t

('A', 'b', 'c')

In [7]:
# 77.
# 다음 튜플을 리스트로 변환하라.

interest = ('samsung', 'LG', 'SK Hynix')
list(interest)

['samsung', 'LG', 'SK Hynix']

In [8]:
# 078
# 다음 리스트를 튜플로 변경하라.

interest = ['samsung', 'LG', 'SK Hynix']
tuple(interest)

('samsung', 'LG', 'SK Hynix')

## tuple, list, string, dictionary 언팩킹 가능
1. tuple unpacking

    temp = ('apple', 'banana', 'cake')

    a, b, c = temp

2. list unpacking

    my_list = [1, 2, 3]

    a, b, c = my_list

3. string unpacking

    my_str = 'Hello'

    a, b, c, d, e = my_str

4. dictionary unpacking

    my_dict = {'a' : 1, 'b' : 2, 'c' : 3}

    my_dict.items()  => [('a', 1), ('b', 2), ('c', 3)]

    my_dict.keys() => ['a', 'b', 'c']

    my_dict.values() => [1, 2, 3]

In [9]:
# 079 튜플 언팩킹
# 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

## range( )
- range( )는 범위여서 int 와 산수 불가능
- int(range( )) 도 안됨. => int() 의 요소는 string 이어야 함. 범위가 되면 안됨.
- list(range( )) 가능.
- tuple(range( )) 가능.

In [10]:
# 080 range 함수
# 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

# (2, 4, 6, 8 ... 98)

print(tuple(range(2, 100, 2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)