In [31]:
161
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

for x in range(100):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [32]:
# 162
# 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

world = []
for x in range(2002, 2051):
    if world == []:
        world.append(x)
    elif (x - world[-1]) % 4 == 0:
        world.append(x)
print(world)

[2002, 2006, 2010, 2014, 2018, 2022, 2026, 2030, 2034, 2038, 2042, 2046, 2050]

In [33]:
# 162-1

for x in range(2002, 2051, 4):
    print(x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [34]:
# 163
# 1부터 30까지의 숫자 중 3의 배수를 출력하라.

for x in range(1, 31):
    if x % 3 == 0:
        print(x)

3
6
9
12
15
18
21
24
27
30

In [35]:
# 164
# 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

for x in range(99, -1, -1):
    print(x)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [36]:
# 164 - 1

for x in range(100):
    print(99 - x)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [37]:
# 165
# for문을 사용해서 아래와 같이 출력하라.

# 0.0
# 0.1
# 0.2
# 0.3
# 0.4
# 0.5
# ...
# 0.9

for x in range(10):
    x = float('0.' + str(x))
    print(x)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [38]:
# 165-1

for x in range(10):
    print(x  10)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2622837132.py, line 4)

In [39]:
# 166
# 구구단 3단을 출력하라.

# 3x1 = 3
# 3x2 = 6
# 3x3 = 9
# 3x4 = 12
# 3x5 = 15
# 3x6 = 18
# 3x7 = 21
# 3x8 = 24
# 3x9 = 27

for x in range(1,10):
    print(f'3x{x} = {3 * x}')

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [40]:
# 167
# 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

for x in range(1, 10, 2):
    print(f'3x{x} = {3 * x}')

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [41]:
# 168
# 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

total = 0
for x in range(1, 11):
    total += x
print(total)

55

In [42]:
# 169
# 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

total = 0
for x in range(1, 11, 2):
    total += x
print(total)

25

In [43]:
# 170
# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

total = 1
for x in range(1, 11):
    total *= x
print(total)

3628800

In [44]:
# 171
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [45]:
# 172
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
for idx, x in enumerate(price_list):
    print(idx, x)

0 32100
1 32150
2 32000
3 32500

In [46]:
# 173
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
for idx, x in enumerate(price_list):
    print(3 - idx, x)

3 32100
2 32150
1 32000
0 32500

In [47]:
# 174
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

# price_list = [32100, 32150, 32000, 32500]
# 100 32150
# 110 32000
# 120 32500

price_list = [32100, 32150, 32000, 32500]
for x in range(1,4):
    print( 90 + x * 10, price_list[x])

100 32150
110 32000
120 32500

# for 문을 사용하지 않고,
- `인덱싱만을 사용`해서 코드를 작성해보면, `인덱스간의 규칙관계`가 들어옴. 
- 공통인 부분 => print(my_list[ ])
- 가 나 => print(my_list[0], my_list[1])

In [48]:
# 175
# my_list를 아래와 같이 출력하라.

# my_list = ["가", "나", "다", "라"]
# 가 나
# 나 다
# 다 라


my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) -1):
    print(my_list[i], my_list[i + 1])

가 나
나 다
다 라

In [49]:
# 176
# 리스트를 아래와 같이 출력하라.

# my_list = ["가", "나", "다", "라", "마"]
# 가 나 다
# 나 다 라
# 다 라 마

my_list = ["가", "나", "다", "라", "마"]
for x in range(len(my_list) - 2):
    print(my_list[x], my_list[x + 1], my_list[x + 2])

가 나 다
나 다 라
다 라 마

In [50]:
# 177
# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

# my_list = ["가", "나", "다", "라"]
# 라 다
# 다 나
# 나 가

my_list = ["가", "나", "다", "라"]
for i in range(3,0,-1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [51]:
# 177 -1
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[3 - i], my_list[2-i])

라 다
다 나
나 가

In [52]:
# 178
# 리스트에는 네 개의 정수가 저장되어 있다. 
# 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

# my_list = [100, 200, 400, 800]
# 예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 
# 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 
# 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [53]:
# 179
# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 
# 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

# my_list = [100, 200, 400, 800, 1000, 1300]
# 첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 
# 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    mean = 0
    mean += (my_list[i] + my_list[i+1] + my_list[i+2]) / 3
    print(mean)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [54]:
# 180
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, 
# low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [55]:
# 181
# 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

# 101호	102호
# 201호	202호
# 301호	302호

apart = [[101,102], [201, 202], [301, 302]]
apart

[[101, 102], [201, 202], [301, 302]]

In [56]:
# 182
# 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

# 시가	종가
# 100	80
# 200	210
# 300	330

stock = [['시가', 100, 200, 300],['종가', 80, 210, 330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [57]:
# 183
# 아래 표를 stock 이름의 딕셔너리로 표현하라.
# 시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 
# 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

# 시가	종가
# 100	80
# 200	210
# 300	330

stock = {'시가' : [100, 200, 300], '종가' : [80, 210, 330]}

In [30]:
# 184
# 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 
# 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 
# 첫 열이 날짜이다.

# 10/10	80	110	70	90
# 10/11	210	230	190	200

stock = {'10/10' : [80, 110, 70, 90], 
         '10/11' : [210, 230, 190, 200]}