## for 문 중첩_1

# 185
# 리스트에 저장된 데이터를 아래와 같이 출력하라.
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호

apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col,'호')

In [2]:
# 186
# 리스트에 저장된 데이터를 아래와 같이 출력하라.
# 301 호
# 302 호
# 201 호
# 202 호
# 101 호
# 102 호

apart = [ [101, 102], [201, 202], [301, 302] ]
for x in apart[::-1]:
    for y in x:
        print(y,'호')

301 호
302 호
201 호
202 호
101 호
102 호

# 187
# 리스트에 저장된 데이터를 아래와 같이 출력하라.
# 302 호
# 301 호
# 202 호
# 201 호
# 102 호
# 101 호

apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, '호')

In [5]:
# 188
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# 101 호
# -----
# 102 호
# -----
# 201 호
# -----
# 202 호
# -----
# 301 호
# -----
# 302 호
# -----

apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')
        print('-' * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [6]:
# 189
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# 101 호
# 102 호
# -----
# 201 호
# 202 호
# -----
# 301 호
# 302 호
# -----

apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')
    print('-' * 5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [7]:
# 190
# 리스트에 저장된 데이터를 아래와 같이 출력하라.
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
# -----

apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')
print('-' * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

## for문 중첩_2

In [11]:
# 191
# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.
# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.


data = [[ 2000,  3050,  2050,  1980],
    [7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]]

for row in data:
    for col in row:
        print(col + (col * 14/100000))

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [12]:
# 192
# 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

data = [[ 2000,  3050,  2050,  1980],
    [7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]]

for row in data:
    for col in row:
        print(col + (col * 14/100000))
    print('-' * 7)

2000.28
3050.427
2050.287
1980.2772
-------
7501.05
2050.287
2050.287
1980.2772
-------
15452.163
15052.107
15552.177
14902.086
-------

In [16]:
# 193
# 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

data = [[ 2000,  3050,  2050,  1980],
    [7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]]

result = []
for row in data:
    for col in row:
        result.append(col + (col * 14/100000))

print(result)

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

# 194
# 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다.
# 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

data = [[ 2000,  3050,  2050,  1980],
    [7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]]

result = []

for row in data:
    sub = []    # => 위치 주의!!! 항상 위에서 아래로 차례대로 내려간다.
    for col in row:
        sub.append(col * 1.00014)
    result.append(sub)

result

# 195
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row[-1])

In [26]:
# 196
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for raw in ohlc[1:]:
    if raw[-1] > 150:
        print(raw[-1])

190
310

In [30]:
# 197
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[-1] >=  row[0]:
        print(row[-1])

100
310

# 198
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for row in ohlc[1:]:
    volatility.append(row[1] - row[2])
print(volatility)

In [32]:
# 198 -1

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1] - ohlc[i][2])
print(volatility)

[40, 30, 10]

In [33]:
# 199
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 
# 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.
# 종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 
# 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[-1] > row[0]:
        print(row[1]-row[2])

10

In [36]:
# 200
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 
# 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.
# 1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

profit = 0
for row in ohlc[1:]:
    profit += row[-1] - row[0]

profit

0