https://wikidocs.net/180753

In [1]:
#21.
#letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
# >> letters = 'python'
# 실행 예
# p t

letters = 'python'
print(letters[0], letters[2])

p t

In [2]:
#22.
#자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
# >> license_plate = "24가 2210"
# 실행 예: 2210

license_plate = '24가 2210'
license_plate[-4:]

'2210'

In [3]:
#23.
#아래의 문자열에서 '홀' 만 출력하세요.
# >> string = "홀짝홀짝홀짝"
# 실행 예:
# 홀홀홀

# [시작인덱스:끝인덱스:오프셋]

string = '홀짝홀짝홀짝'
result = ''
result += string[0]
result += string[2]
result += string[4]
print(result)

print(string[::2])

홀홀홀
홀홀홀

In [4]:
#24.
#문자열을 거꾸로 뒤집어 출력하세요.
# >> string = "PYTHON"
# 실행 예:
# NOHTYP

string = 'PYTHON'
print(string[::-1])

NOHTYP

In [5]:
#25.
#아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
# >> phone_number = "010-1111-2222"
# 실행 예
# 010 1111 2222

# 문자열은 수정할 수 없는 자료형. 
# .replace(기존값, 수정값)

phone_number = '010-1111-2222'
phone_number1 = phone_number.replace('-', ' ')
phone_number1

'010 1111 2222'

In [6]:
#26.
# 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
# 실행 예
# 01011112222

phone_number = '010-1111-2222'
print(phone_number.replace('-', ''))

01011112222

In [7]:
#27.
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

# >> url = "http://sharebook.kr"
# 실행 예:
# kr

url = "http://sharebook.kr"
domain = url[-2:]
print(domain)

url_split = url.split('.') # => '.' 을 기준으로 나누겠다
domain = url_split[1]
print(domain)

kr
kr

In [8]:
# 28.
# 아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [9]:
#29.
#아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

# >> string = 'abcdfe2a354a32a'
# 실행 예:
# Abcdfe2A354A32A

string = 'abcdfe2a354a32a'
string.replace('a','A')

'Abcdfe2A354A32A'

In [10]:
#30.
# 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [11]:
#31.
# 아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)

34

In [12]:
#32. 
# 아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

HiHiHi

In [13]:
#33.
# 화면에 '-'를 80개 출력하세요.

print('-' * 80)

--------------------------------------------------------------------------------

In [14]:
#34.
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

# >>> t1 = 'python'
# >>> t2 = 'java'
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

# 실행 예:
# python java python java python java python java

t1 = 'python'
t2 = 'java'
print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

In [15]:
#35.
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때
# % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

print('이름: %s 나이: %d' % (name1, age1))
print('이름: %s 나이: %d' % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [16]:
#36. 
# 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [17]:
#37.
# 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [18]:
#38.
# 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

number_of_listed_stocks= "5,969,782,550"
num_stock = number_of_listed_stocks.replace(',','')
num_stock = int(num_stock)
print(num_stock)

5969782550

In [19]:
#39.
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.

quarter = "2020/03(E) (IFRS연결)"
year = quarter[:7]
year

'2020/03'

In [20]:
#40.
# 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "
new = data.lstrip()
print(new.rstrip())

data = "   삼성전자    "
result = data.strip()
print(result)

삼성전자
삼성전자

In [21]:
#41.
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
print(ticker.upper())
print(ticker)

BTC_KRW
btc_krw

In [22]:
# 42.
# 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [23]:
#43.
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

word = 'hello'
word.capitalize()

'Hello'

## .endswith('문자')
- 파일이름.endswith('확인하고 싶은 끝 문자열')
- 두개도 가능 -> 파일이름.endswith(('끝 문자열 1','끝 문자열 2'))

In [24]:
#44.
# 파일 이름이 문자열로 저장되어 있을 때 
# endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith('x')

True

In [25]:
#45.
# 파일 이름이 문자열로 저장되어 있을 때 
# endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

## .startswith('문자')
- 파일이름.startswith('확인하고싶은 앞 문자열')

In [26]:
#46.
# 파일 이름이 문자열로 저장되어 있을 때 
# startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"
print(file_name.startswith('20'))
print(file_name.startswith(('20','_')))

True
True

## 문자열.split(sep='')  vs  list('문자열')
- 공백을 기준으로 분리해서 리스트로 변환
####
- a = "hello world"
- a.split() => ['hello', 'world']
- list(a) => ['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
#### 
- b = 'helloworld'
- b.split() => ['helloworld']
- list(b) => ['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [27]:
# 47.
# 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
b = 'helloworld'

print(a.split())
print(list(a))

print(b.split())
print(list(b))

['hello', 'world']
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
['helloworld']
['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [28]:
# 48.
# 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [29]:
# 49.
# 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [30]:
# 50.
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "
data.rstrip()

'039490'