In [1]:
# 201
# "비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

def print_coin():
    print('bitcoin')

In [2]:
# 202
# 201번에서 정의한 함수를 호출하라.

print_coin()

bitcoin

# 203
# 201번에서 정의한 print_coin 함수를 100번호출하라.

for x in range(100):
    print_coin()

# 204
# "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.

def print_coins():
    for x in range(100):
        print('bitcoin')

In [6]:
# 205
# 아래의 에러가 발생하는 이유에 대해 설명하라.

# hello()
# def hello():
#     print("Hi")
# 실행 예

# NameError: name 'hello' is not defined

# 함수 정의가 먼저 되어야함.

In [7]:
# 206
# 아래 코드의 실행 결과를 예측하라.

def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [9]:
# 207
# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [10]:
# 208
# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [11]:
# 209
# 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

# B
# A

B
A

In [12]:
# 210
# 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [13]:
# 211
# 함수의 호출 결과를 예측하라.

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [14]:
# 212
# 함수의 호출 결과를 예측하라.

def func(a, b) :
    print(a + b)

func(3, 4)
func(7, 8)

7
15

In [15]:
# 213
# 아래와 같은 에러가 발생하는 원인을 설명하라.

def func(문자열) :
    print(문자열)
    
func()

# TypeError: 함수() missing 1 required positional argument: '문자열'

# 필수인자(파라미터) 1개가 없음.

TypeError: func() missing 1 required positional argument: '문자열'

In [16]:
# 214
# 아래와 같은 에러가 발생하는 원인을 설명하라.

def func(a, b) :
    print(a + b)

func("안녕", 3)

# TypeError: must be str, not int

TypeError: can only concatenate str (not "int") to str

In [17]:
# 215
# 하나의 문자를 입력받아 문자열 끝에 
# ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

def print_with_smile(a):
    print(f'{a}:D')

In [18]:
# 216
# 215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

def print_with_smile(a):
    print(f'{a}:D')

print_with_smile('안녕하세요')

안녕하세요:D

# 217
# 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

def print_upper_price(price):
    print(price * 1.3)

In [20]:
# 218
# 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

def print_sum(x, y):
    print(x + y)

In [22]:
# 219
# 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.
# 3 + 4 = 7
# 3 - 4 = -1
# 3 * 4 = 12
# 3 / 4 = 0.75

def print_arithmetic_operation(x, y):
    print(f'{x}+{y} = {x + y}')
    print(f'{x}-{y} = {x - y}')
    print(f'{x}*{y} = {x * y}')
    print(f'{x}/{y} = {x / y}')

# 220
# 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 
# 단 if 문을 사용해서 수를 비교하라.

def print_max(x, y, z):
    max_val = 0
    if x > max_val:
        max_val = x
    if max_val < y:
        max_val = y
    if max_val < z:
        max_val = z
    print(max_val)

print_max(3,10,2)

In [29]:
# 221
# 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

def print_reverse(string):
    print(string[::-1])

In [30]:
# 222
# 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
# print_score ([1, 2, 3])
# 2.0

def print_score(score_list):
    print(sum(score_list) / len(score_list))

In [31]:
# 223
# 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

# print_even ([1, 3, 2, 10, 12, 11, 15])
# 2
# 10
# 12

def print_even(list):
    for num in list:
        if num % 2 == 0:
            print(num)

In [35]:
# 224
# 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

# print_keys ({"이름":"김말똥", "나이":30, "성별":0})
# 이름
# 나이
# 성별

def print_keys(dictionary):
    for k in dictionary.keys():
        print(k)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [36]:
# 225
# my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

# my_dict = {"10/26" : [100, 130, 100, 100],
#            "10/27" : [10, 12, 10, 11]}

# my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

# print_value_by_key  (my_dict, "10/26")
# [100, 130, 100, 100]

my_dict = {"10/26" : [100, 130, 100, 100], "10/27" : [10, 12, 10, 11]}

def print_value_by_key(dict, date):
    print(dict[date])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

# n개씩 잘라서 보고 싶다.
* for i in range( int ( len ( string ) / n ) ):
*      print(string [i * n : (i * n) + n] )

# 226
# 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

# print_5xn("아이엠어보이유알어걸들")
# 아이엠어보
# 이유알어걸

def print_5xn(string):
    chunk_num = int(len(string) / 5)
    for x in range(chunk_num + 1):
        print(string[x * 5 : (x * 5) + 5])

print_5xn("아이엠어보이유알어걸들")

# 227
# 문자열과 한줄에 출력될 글자 수를 입력을 받아 
# 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

# printmxn("아이엠어보이유알어걸", 3)
# 아이엠
# 어보이
# 유알어
# 걸

def printmxn(string, n):
    for i in range( int(len(string) / n) + 1):
        print(string[i * n: (i * n) + n])

printmxn("아이엠어보이유알어걸", 4)

In [45]:
# 228
# 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라.
# 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.
# calc_monthly_salary(12000000)
# 1000000

def calc_monthly_salary(annual_salary):
    return int(annual_salary / 12)

calc_monthly_salary(12000000)

1000000

# 229
# 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)   # 변수에 바인딩 한 것임. 명시적으로 표현한 코드.

# 230
# 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

In [50]:
# 231
# 아래 코드를 실행한 결과를 예상하라.

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print(result)  # => global scope 는 local scope에 들어갈 수 없음.

NameError: name 'result' is not defined

In [52]:
# 232
# 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

def make_url(string):
    url = 'www.'+ string + '.com'
    return url

In [57]:
# 233
# 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.
# ['a', 'b', 'c', 'd']

def make_list(string):
    return list(string)
    
make_list("abcd")

['a', 'b', 'c', 'd']

In [60]:
# 233-1

list = []
def make_list(string):
    for x in string:
        list.append(x)
    return list
    
make_list("abcd")

['a', 'b', 'c', 'd']

In [63]:
# 234
# 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

# pickup_even([3, 4, 5, 6, 7, 8])
# [4, 6, 8]

result = []
def pickup_even(list):
    for num in list:
        if num % 2 == 0:
            result.append(num)
    return result

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [65]:
# 235
# 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

# convert_int("1,234,567")
# 1234567

def convert_int(string_int):
    str_num = string_int.split(',')
    result = ''
    for x in str_num:
        result += x

    return int(result)
    
convert_int("1,234,567")

1234567

In [66]:
# 235 -1

def convert_int(string_int):
    return int(string_int.replace(',', ''))
    
convert_int("1,234,567")

1234567

# 함수 중첩

# 236
# 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

In [69]:
# 237
# 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [70]:
# 238
# 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [71]:
# 239
# 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [72]:
# 240
# 아래 코드의 실행 결과를 예측하라.

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28